.loguito {
    border-radius: 50%;
}

.carta {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.70);
    font-size: 100px;
    transition: transform 330ms ease-in-out;
}

.carta:hover {
    transform: scale(1.2);
}

.infoi {
    cursor: pointer;
}

/* estilo de links*/

a {
    color: inherit !important;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}